.slider-caption {
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 767px) {
  .slider-caption {
    width: 90%;
  }
}

@media all and (max-width: 480px) {
  .slider-caption {
    display: none;
  }
}