@media all and (max-width: 991px) {
  .submenu {
    font-size: .75rem;

    &--deep {
      max-height: 0;
      -webkit-transition: max-height .4s ease-out;
      -o-transition: max-height .4s ease-out;
      transition: max-height .4s ease-out;
      overflow: hidden;
    }
  }
}

@import '__item/submenu__item';
@import '__header/submenu__header';
@import 'submenu--level2';