.submenu__item {
  margin: 7px 0;
}

@media all and (max-width: 991px) {
  .submenu__item {
    margin: 0;
    padding: 7px 0;

    &:nth-child(n) {
      border-bottom: 1px solid $light_grey;
    }
    &:first-child {
      border-top: 1px solid $light_grey;
    }
    &:last-child {
      border-bottom: none;
    }
    & > a {
      padding: 0 10px;
    }
  }
}